/* variables */
/* mixins */
/* setup section */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0; }

[ng-include] {
  height: inherit; }

.container {
  background-color: beige;
  height: inherit;
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.stopScroll {
  overflow: hidden; }

/* bar section */
.ang-nav-main {
  position: fixed;
  left: 0px;
  width: 100%;
  top: 0;
  height: auto;
  z-index: 5;
  background-color: #eaeae9; }

@media (max-device-width: 480px) {
  .ang-nav-burger {
    position: fixed;
    left: 0px;
    width: 100%;
    top: -150px;
    height: 150px;
    z-index: 3;
    background-color: #e1e1e1;
    padding: 15px 0; } }
@media (min-device-width: 481px) {
  .ang-nav-burger {
    position: fixed;
    left: 0px;
    width: 100%;
    top: -110px;
    height: 110px;
    z-index: 3;
    background-color: #e1e1e1;
    padding: 15px 0; } }

.ang-nav-cart {
  overflow: auto; }
  @media (max-device-width: 480px) {
    .ang-nav-cart {
      position: fixed;
      left: 0px;
      width: 100%;
      top: -350px;
      height: 350px;
      z-index: 1;
      background-color: #e1e1e1;
      padding: 15px 0; } }
  @media (min-device-width: 481px) {
    .ang-nav-cart {
      position: fixed;
      left: 0px;
      width: 100%;
      top: -600px;
      height: 600px;
      z-index: 1;
      background-color: #e1e1e1;
      padding: 15px 0; } }

/* anim section */
.ang-nav-main {
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: all 0.5s ease;
  -ms-transform: all 0.5s ease;
  -moz-transform: all 0.5s ease;
  -o-transform: all 0.5s ease;
  transform: all 0.5s ease; }

@media (max-device-width: 480px) {
  .mainBurgerActive {
    -webkit-transform: translate3d(0, 150px, 0);
    -ms-transform: translate3d(0, 150px, 0);
    -moz-transform: translate3d(0, 150px, 0);
    -o-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0); } }
@media (min-device-width: 481px) {
  .mainBurgerActive {
    -webkit-transform: translate3d(0, 110px, 0);
    -ms-transform: translate3d(0, 110px, 0);
    -moz-transform: translate3d(0, 110px, 0);
    -o-transform: translate3d(0, 110px, 0);
    transform: translate3d(0, 110px, 0); } }

.mainBurgerInActive {
  -webkit-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0); }

@media (max-device-width: 480px) {
  .mainCartActive {
    -webkit-transform: translate3d(0, 350px, 0);
    -ms-transform: translate3d(0, 350px, 0);
    -moz-transform: translate3d(0, 350px, 0);
    -o-transform: translate3d(0, 350px, 0);
    transform: translate3d(0, 350px, 0); } }
@media (min-device-width: 481px) {
  .mainCartActive {
    -webkit-transform: translate3d(0, 600px, 0);
    -ms-transform: translate3d(0, 600px, 0);
    -moz-transform: translate3d(0, 600px, 0);
    -o-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0); } }

.mainCartInActive {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0px, 0); }

.ang-nav-burger {
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0); }

@media (max-device-width: 480px) {
  .burgerActive {
    -webkit-transform: translate3d(0, 150px, 0);
    -ms-transform: translate3d(0, 150px, 0);
    -moz-transform: translate3d(0, 150px, 0);
    -o-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0); } }
@media (min-device-width: 481px) {
  .burgerActive {
    -webkit-transform: translate3d(0, 110px, 0);
    -ms-transform: translate3d(0, 110px, 0);
    -moz-transform: translate3d(0, 110px, 0);
    -o-transform: translate3d(0, 110px, 0);
    transform: translate3d(0, 110px, 0); } }

.burgerInActive {
  -webkit-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0); }

.ang-nav-cart {
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0); }

@media (max-device-width: 480px) {
  .cartActive {
    -webkit-transform: translate3d(0, 350px, 0);
    -ms-transform: translate3d(0, 350px, 0);
    -moz-transform: translate3d(0, 350px, 0);
    -o-transform: translate3d(0, 350px, 0);
    transform: translate3d(0, 350px, 0); } }
@media (min-device-width: 481px) {
  .cartActive {
    -webkit-transform: translate3d(0, 600px, 0);
    -ms-transform: translate3d(0, 600px, 0);
    -moz-transform: translate3d(0, 600px, 0);
    -o-transform: translate3d(0, 600px, 0);
    transform: translate3d(0, 600px, 0); } }

.cartInActive {
  -webkit-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0); }

/* main bar */
.ang-nav-main .una-logo {
  background: url("../img/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (max-device-width: 480px) {
    .ang-nav-main .una-logo {
      -webkit-transform: scale(0.5, 0.5) translate(-80px, -80px);
      -ms-transform: scale(0.5, 0.5) translate(-80px, -80px);
      -moz-transform: scale(0.5, 0.5) translate(-80px, -80px);
      -o-transform: scale(0.5, 0.5) translate(-80px, -80px);
      transform: scale(0.5, 0.5) translate(-80px, -80px); } }

.una-logo-scaled {
  -webkit-transform: scale(0.5, 0.5) translate(-80px, -80px);
  -ms-transform: scale(0.5, 0.5) translate(-80px, -80px);
  -moz-transform: scale(0.5, 0.5) translate(-80px, -80px);
  -o-transform: scale(0.5, 0.5) translate(-80px, -80px);
  transform: scale(0.5, 0.5) translate(-80px, -80px); }

ul li {
  display: inline-block;
  color: white; }

.ang-nav-main ul, .ang-nav-burger ul {
  position: relative;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  margin-right: 10%;
  float: right; }
  @media (max-device-width: 480px) {
    .ang-nav-main ul, .ang-nav-burger ul {
      margin-right: 0%; } }

.ang-nav-burger ul {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.ang-nav-main ul li, .ang-nav-burger ul li {
  font-size: 1.2em;
  background-color: #36a79f;
  padding: 5px 10px;
  border-radius: 50%;
  margin: 1em;
  vertical-align: middle;
  position: relative;
  border: 3px solid #eaeae9;
  cursor: pointer; }
  @media (max-device-width: 480px) {
    .ang-nav-main ul li, .ang-nav-burger ul li {
      margin-right: 5px !important;
      margin-left: 5px !important;
      font-size: 1.2em !important;
      padding: 5px 10px !important; }
      .ang-nav-main ul li .una-button, .ang-nav-burger ul li .una-button {
        font-size: 1.2em !important;
        padding: 14px 8px !important; } }

.ang-nav-burger ul li {
  font-size: 2.2em;
  padding: 5px 12px;
  margin: 0.3em;
  vertical-align: middle; }

.ang-nav-main ul li:hover, .ang-nav-burger ul li:hover {
  border: 3px solid white; }

.item-alert {
  font-size: 10px;
  background-color: #b0264f;
  padding: 5px 6px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px; }

.una-button {
  font-size: 1.2em !important;
  padding: 14px 8px !important; }

/* content section  */
.page-img {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=app.css.map */
