/* variables */
$mainNavBg : #eaeae9;
$navPanelBg : #e1e1e1;
$burgerHeight: 12rem;
$cartHeight : 500px;
$iconBgColour : #36a79f;
$highlightColor : white;
$alertRed : #b0264f;

@media (max-device-width:480px) {
	$burgerHeight : 150px;
}
@media (min-device-width:481px) {
	$burgerHeight : 110px;
}


/* mixins */
@mixin navPanelBasics ($topOffset, $panelHeight, $panelZindex, $panelColour) {
	position: fixed;
	left:0px;
	width:100%;
	top: $topOffset;
	height: $panelHeight;
	z-index: $panelZindex;
	background-color: $panelColour;
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}


/* setup section */

html, body {
	width:100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

[ng-include] {
	height: inherit;
}

.container {
	background-color: beige;
	height: inherit;
	width:100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.stopScroll {
	overflow: hidden;
}



/* bar section */

.ang-nav-main {
	@include navPanelBasics(0,auto,5,$mainNavBg);
}

.ang-nav-burger {
	@media (max-device-width:480px) {
		$burgerHeight : 150px;
		@include navPanelBasics(-$burgerHeight,$burgerHeight,3,$navPanelBg);
  		padding: 15px 0;
	}
	@media (min-device-width:481px) {
		$burgerHeight : 110px;
		@include navPanelBasics(-$burgerHeight,$burgerHeight,3,$navPanelBg);
  		padding: 15px 0;
	}
	
}

.ang-nav-cart {
	@media (max-device-width:480px) {
		$cartHeight : 350px;
		@include navPanelBasics(-$cartHeight,$cartHeight,1,$navPanelBg);
  		padding: 15px 0;
	}
	@media (min-device-width:481px) {
		$cartHeight : 600px;
		@include navPanelBasics(-$cartHeight,$cartHeight,1,$navPanelBg);
  		padding: 15px 0;
	}
	overflow: auto;
}

/* anim section */

.ang-nav-main {
	@include vendor-prefix(transition, all 0.5s ease);
	@include vendor-prefix(transform, all 0.5s ease);
}
.mainBurgerActive {
	@media (max-device-width:480px) {
		$burgerHeight : 150px;
		@include vendor-prefix(transform, translate3d(0,$burgerHeight,0));
	}
	@media (min-device-width:481px) {
		$burgerHeight : 110px;
		@include vendor-prefix(transform, translate3d(0,$burgerHeight,0));
	}
	
}
.mainBurgerInActive {
	@include vendor-prefix(transform, translate3d(0,0px,0));
}


.mainCartActive {
	@media (max-device-width:480px) {
		$cartHeight : 350px;
		@include vendor-prefix(transform, translate3d(0,$cartHeight,0));
	}
	@media (min-device-width:481px) {
		$cartHeight : 600px;
		@include vendor-prefix(transform, translate3d(0,$cartHeight,0));
	}	
}
.mainCartInActive {

	@include vendor-prefix(transform, translate3d(0,0,0));	
	-webkit-transform: translate3d(0,0px,0);
}



.ang-nav-burger {
	@include vendor-prefix(transition, all 0.5s ease);
	@include vendor-prefix(transform, translate3d(0,0px,0));
}
.burgerActive {
	@media (max-device-width:480px) {
		$burgerHeight : 150px;
		@include vendor-prefix(transform, translate3d(0,$burgerHeight,0));
	}
	@media (min-device-width:481px) {
		$burgerHeight : 110px;
		@include vendor-prefix(transform, translate3d(0,$burgerHeight,0));
	}
}
.burgerInActive {
	@include vendor-prefix(transform, translate3d(0,0px,0));
}


.ang-nav-cart {
	@include vendor-prefix(transition, all 0.5s ease);
	@include vendor-prefix(transform, translate3d(0,0px,0));
}
.cartActive {
	@media (max-device-width:480px) {
		$cartHeight : 350px;
		@include vendor-prefix(transform, translate3d(0,$cartHeight,0));
	}
	@media (min-device-width:481px) {
		$cartHeight : 600px;
		@include vendor-prefix(transform, translate3d(0,$cartHeight,0));
	}	
}
.cartInActive {
	@include vendor-prefix(transform, translate3d(0,0px,0));
}


/* main bar */

.ang-nav-main {
	.una-logo {
	    background: url("../img/logo.svg");
	    background-size: contain;
	    background-repeat: no-repeat;
	    width: 150px;
	    height: 150px;
	    position: absolute;
	    top: 10px;
	    left: 10px;
	    @include vendor-prefix(transition, all 0.5s ease);

	    @media (max-device-width: 480px) {
	    	@include vendor-prefix(transform, scale(0.5,0.5) translate(-80px,-80px));
	    }
	}
}


.una-logo-scaled {
		@include vendor-prefix(transform, scale(0.5,0.5) translate(-80px,-80px));
}


ul {
	li {
		display: inline-block;
		color: white;	
	}
}


.ang-nav-main, .ang-nav-burger {
	ul {
		position: relative;
		right:0;
		top:0;
		padding:0;
		margin:0;
		margin-right: 10%;
		float:right;

		@media (max-device-width: 480px) {
			margin-right:0%;
		}
	}
}

.ang-nav-burger ul {
	margin: 0 auto;
  	width: 100%;
  	text-align: center;
}

.ang-nav-main ul li, .ang-nav-burger ul li {
	font-size: 1.2em;
  	background-color: $iconBgColour;
  	padding: 5px 10px;
  	border-radius: 50%;
  	margin: 1em;
  	vertical-align: middle;
  	position: relative;
  	border: 3px solid $mainNavBg;
  	cursor: pointer;

  	@media (max-device-width: 480px) {
			margin-right:5px !important;
			margin-left:5px !important;
			font-size: 1.2em !important;
			padding: 5px 10px !important;

			.una-button {
				font-size: 1.2em !important;
			  	padding: 14px 8px !important;
			  	
			}
		}
}

.ang-nav-burger ul li {
	font-size: 2.2em;
  	padding: 5px 12px;
  	margin: 0.3em;
  	vertical-align: middle; 	
}

.ang-nav-main ul li:hover, .ang-nav-burger ul li:hover {
	border: 3px solid $highlightColor;
}



.item-alert {
  	font-size: 10px;
  	background-color: $alertRed;
  	padding: 5px 6px;
  	border-radius: 50%;
  	position: absolute;
  	top: -15px;
  	right: -15px;
}


.una-button {
	font-size: 1.2em !important;
  	padding: 14px 8px !important;

}




/* content section  */
.page-img {
	width:100%;
	height: auto;
}





