<!-- main.html -->
<div class="container" ng-class="scrollFix">
	<div class="ang-nav" ng-controller="NavCtrl">
		<div class="ang-nav-cart" ng-class="cartMenu">
			<table class="table">
				<thead>
					<tr><th></th>
						<th>Event</th>
						<th>Ticket</th> 
						<th>Details</th>
						<th>Type</th>
						<th>Price</th>
						<th>Quality</th>
						<th>Subtotal</th>
						<th>Timeout</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>X</b></td>
						<td>U2 - 360 Tour<br>O2 Arena<br>Friday 17 Oct</td>
						<td>Block:<br>Row:<br>Seat:<br>Level</td>
						<td>B51<br>A8<br>134<br>Exec block</td>
						<td>Adult</td>
						<td>£120.00</td>
						<td>1</td>
						<td>£120.00</td>
						<td>2m 45s</td>
					</tr>
					<tr>
						<td><b>X</b></td>
						<td>U2 - 360 Tour<br>O2 Arena<br>Friday 17 Oct</td>
						<td>Block:<br>Row:<br>Seat:<br>Level</td>
						<td>B51<br>A8<br>134<br>Exec block</td>
						<td>Adult</td>
						<td>£120.00</td>
						<td>1</td>
						<td>£120.00</td>
						<td>2m 45s</td>
					</tr>
					<tr>
						<td><b>X</b></td>
						<td>U2 - 360 Tour<br>O2 Arena<br>Friday 17 Oct</td>
						<td>Block:<br>Row:<br>Seat:<br>Level</td>
						<td>B51<br>A8<br>134<br>Exec block</td>
						<td>Adult</td>
						<td>£120.00</td>
						<td>1</td>
						<td>£120.00</td>
						<td>2m 45s</td>
					</tr>
					<tr>
						<td><b>X</b></td>
						<td>U2 - 360 Tour<br>O2 Arena<br>Friday 17 Oct</td>
						<td>Block:<br>Row:<br>Seat:<br>Level</td>
						<td>B51<br>A8<br>134<br>Exec block</td>
						<td>Adult</td>
						<td>£120.00</td>
						<td>1</td>
						<td>£120.00</td>
						<td>2m 45s</td>
					</tr>
					<tr>
						<td><b>X</b></td>
						<td>U2 - 360 Tour<br>O2 Arena<br>Friday 17 Oct</td>
						<td>Block:<br>Row:<br>Seat:<br>Level</td>
						<td>B51<br>A8<br>134<br>Exec block</td>
						<td>Adult</td>
						<td>£120.00</td>
						<td>1</td>
						<td>£120.00</td>
						<td>2m 45s</td>
					</tr>
					<tr>
						<td><b>X</b></td>
						<td>U2 - 360 Tour<br>O2 Arena<br>Friday 17 Oct</td>
						<td>Block:<br>Row:<br>Seat:<br>Level</td>
						<td>B51<br>A8<br>134<br>Exec block</td>
						<td>Adult</td>
						<td>£120.00</td>
						<td>1</td>
						<td>£120.00</td>
						<td>2m 45s</td>
					</tr>
					<tr>
						<td><b>X</b></td>
						<td>U2 - 360 Tour<br>O2 Arena<br>Friday 17 Oct</td>
						<td>Block:<br>Row:<br>Seat:<br>Level</td>
						<td>B51<br>A8<br>134<br>Exec block</td>
						<td>Adult</td>
						<td>£120.00</td>
						<td>1</td>
						<td>£120.00</td>
						<td>2m 45s</td>
					</tr>
				</tbody>
			</table>
		</div>
		

		<div class="ang-nav-burger" ng-class="burgerMenu">
			<ul>
				<li>
					<i class="fa fa-credit-card"></i>
				</li>
				<li>
					<i class="fa fa-users"></i>
				</li>
				<li>
					<i class="fa fa-camera"></i>
				</li>
				<li>
					<i class="fa fa-print">
						<b class="item-alert">1</b>
					</i>
				</li>
				<li>
					<i class="fa fa-comment"></i>
				</li>
				<li>
					<i class="fa fa-download"></i>
				</li>
				<li  class="una-button">
					<b>UNA</b>
				</li>
			</ul>
		</div>
		
		
		<div class="ang-nav-main" ng-class="mainMenu">
			<div class="una-logo" ng-class="logoScale"></div>
			<ul>
				<li>
					<i class="fa fa-search"></i>
				</li>
				<li ng-click="showMenu('cart')">
					<i class="fa fa-shopping-cart">
					<b class="item-alert">6</b>
					</i>
				</li>
				<li ng-click="showMenu('burger')">
					<i class="fa fa-bars"></i>
				</li>
			</ul>
		</div>
	</div>

	<div class="page-content">
		<img class="page-img" src="img/gigit-favorite-band.jpg"/>
		<img class="page-img" src="img/Music-Festivals.jpg"/>
		<img class="page-img" src="img/summer-music-ftr.jpg"/>
		<img class="page-img" src="img/ultra-music-festival.jpg"/>
		<img class="page-img" src="img/Music-Festivals.jpg"/>
		<img class="page-img" src="img/summer-music-ftr.jpg"/>
		<img class="page-img" src="img/ultra-music-festival.jpg"/>
	</div>

</div>